*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 96%;
    margin: 2%;
}

.whole{
    background-color: red;
    color: white;
    float: left;
    width: 100%;
    
}

.firstdiv{ 
    padding: 30px;
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

.headings{ 
    width: 70%;
    float: left;
    font-size: 1.3rem;
    padding: 50px;
    line-height: 2;
}

.logo{
    width: 30%;
    float: right;
}

.img-res{
    height: 250px;
    max-width: 100%;
    
}

.seconddiv{
    float: left;
    width: 100%;

}
.card{
    float: left;
    width: 33%;
    height: 350px;
    background-color: rgb(79, 2, 2);
    margin: 0 4px 0 0;
}
.para{
    line-height: 1.5;
    font-size: 1.1rem;
    padding: 40px;
    
}